body {
    @apply m-0;
    background: #f7f5ef;
    font-family: Avenir Next, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}

* {
    box-sizing: border-box;
}

.selection-area {
    @apply bg-[rgba(46,115,252,0.5)];
}

.n-notification-main__header {
    @apply break-words;
}

.n-tabs-pane-wrapper {
    @apply h-full;
}

.n-tabs-nav {
  @apply px-2;
}
